.idea
*.iml
target
*/target/*
*.swp
*.DS_Store
*.log
*.json
*.png
*.csv
*.tar.gz
.vscode
__pycache__/

scripts/internal/cross-cloud
scripts/internal/cross-region
scripts/internal/cross-10p
scripts/internal/cross-1p

scripts/results

scripts/miniature_simulation/IBM*
scripts/miniature_simulation/Uber*
scripts/miniature_simulation/VMware

scripts/ttl_miniature_simulation/IBM*
scripts/ttl_miniature_simulation/Uber*
scripts/ttl_miniature_simulation/VMware

traces/prepared
traces/tracedb
workload_analysis
